.overview {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 50px auto;
  width: 1078px;
  height: 650px;
}

.overview-image {
  width: 650px;
  height: 650px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 4px;
}

.overview-right-side {
  height: 650px;
}

.related-carousel {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 1078px;
  overflow: hidden;
  margin: 0 auto;
}

.related-product img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-bottom: 1px solid black;
  border-radius: 4px 4px 0 0;
}

.related-product {
  display: flex;
  flex-direction: column;
  height: 350px;
  border: 1px solid black;
  border-radius: 5px;
}

.related-product-information {
  padding: 5px;
}

.related-product-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

.related-product-category {
  text-transform: uppercase;
  opacity: 0.7;
}

.related-product-price {
  margin-top: 5px;
}

.style-thumbnail {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
  filter: grayscale(100%);
}

.style-thumbnail-main {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border: 2px solid darkgoldenrod;
  border-radius: 50%;
}

.crossed-price {
  color: red;
  text-decoration: line-through;
}

.thumbnail-carousel-container {
  width: 525px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  top: -90px;
}

.thumbnail-carousel {
  display: flex;
  gap: 10px;
  position: relative;
  width: 425px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
}

.thumbnail {
  height: 75px;
  width: 75px;
}

.thumbnail-carousel-photo {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 4px;
}

.thumbnail-carousel-photo:hover {
  border: 1px solid white;
}

.related-left-arrow {
  float: left;
  position: relative;
  top: -200px;
}

.related-right-arrow {
  float: right;
  position: relative;
  top: -200px;
  left: -10px;
}

.related-products {
  margin: 50px auto;
  width: 1200px;
}

.fa-stack {
  font-size: 16px;
}

.fa-circle {
  color: darkgoldenrod;
  transition: all 150ms ease-in-out;
}

.fa-stack:hover .fa-circle {
  color: black;
}

.thumbnail-left-arrow {
  float: left;
  position: relative;
  top: -75px;
  left: 1px;
}

.thumbnail-right-arrow {
  float: right;
  position: relative;
  top: -75px;
  left: -10px;
}

.product-name {
  font-size: 36px;
  font-weight: bold;
}

.product-category {
  text-transform: uppercase;
  opacity: .7;
}

.product-price {
  margin: 20px 0;
}

.product-style {
  margin-bottom: 20px;
}

.product-styles {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
}

.product-lower-section {
  display: flex;
  width: 1078px;
  margin: 0 auto;
}

.product-features {
  border-left: 2px solid black;
  width: 25%;
  font-size: 20px;
  padding-left: 20px;
}

.product-description {
  font-size: 20px;
  align-self: center;
  padding-right: 20px;
}

.select-size-quantity-section {
  display: flex;
  margin: 20px 0;
  gap: 10px;
}

.select-size-quantity-section select {
  height: 48px;
  font-size: 20px;
}

.select-size {
  width: 75%;
  border: 1px solid black;
  border-radius: 4px;
}

.select-quantity {
  width: 25%;
  border: 1px solid black;
  border-radius: 4px;
}

.add-to-cart-button {
  height: 48px;
  line-height: 48px;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(184, 135, 11, 0.6);
  transition: all 150ms ease-in-out;
}

.add-to-cart-button:hover {
  background-color: white;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 0;
}

.store-name {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

.cart {
  font-size: 40px;
  transition: all 150ms ease-in-out;
}

.cart:hover {
  color: darkgoldenrod;
}

.cart-with-count {
  display: flex;
}

.cart-count {
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
  left: 52px;
  top: -8px;
  background-color: white;
}

.checkout {
  position: fixed;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  width: 760px;
  height: 100%;
  top: 0;
  right: -802px;
  padding: 20px;
}

.checkout-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.cart-row {
  display: flex;
  justify-content: space-between;
}

.cart-heading-row {
  border-bottom: 1px solid black;
}

.cart-col-product {
  width: 150px;
}

.cart-col-style, .cart-col-price {
  width: 200px;
}

.cart-col-size {
  width: 75px;
}

.cart-col-quantity {
  display: flex;
  width: 100px;
  gap: 5px;
}

.cart-quantity {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 15px;
}

.cart-quantity-plus, .cart-quantity-minus {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 5px;
  background-color: lightgray;
}

.total-price {
  text-align: right;
  margin: 20px 0;
}

.checkout-button {
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(184, 135, 11, 0.6);
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}

.checkout-button:hover {
  background-color: white;
}

.billing-buttons {
  display: flex;
  gap: 10px;
}

.billing-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.billing-information label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.billing-row {
  display: flex;
  gap: 20px;
}

.billing-row label {
  width: 50%;
}

.billing-row .address {
  width: 100%;
}

.checkout-tracker {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.checkout-tracker .number {
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
}

.checkout-tracker .current {
  background-color: rgba(184, 135, 11, 0.6);
}

.checkout-tracker .stage {
  opacity: 0.5;
}

.required {
  color: red;
}

.hidden {
  display: none;
}

input[type="text"] {
  border: 1px solid black;
  border-radius: 2px;
  height: 20px;
  outline: none;
}

.required-input {
  display: block;
  border: 1px solid red !important;
}